In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import scipy.stats as stats
from scipy.stats import skew
import statsmodels.api as sm

%matplotlib inline

In [2]:
ACCRE_df = pd.read_csv('data/fullsample.csv')

In [3]:
ACCRE_df.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,6794220,laxtons,mikala,247808Mn,115217.12M,14-00:00:00,11-01:32:50,1,16,production,0:0
1,6983193_1880,discovery,serina,12288Mn,6516.10M,13-18:00:00,12-09:26:41,1,1,production,0:0
2,7055502_1863,discovery,serina,12288Mn,0.09M,13-18:00:00,13-08:27:36,1,1,production,0:0
3,7055502_1800,discovery,serina,12288Mn,8333.82M,13-18:00:00,12-03:50:59,1,1,production,0:0
4,7055502_1806,discovery,serina,12288Mn,8304.03M,13-18:00:00,11-08:43:46,1,1,production,0:0

In [4]:
ACCRE_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4178919 entries, 0 to 4178918
Data columns (total 11 columns):
JOBID        object
ACCOUNT      object
USER         object
REQMEM       object
USEDMEM      object
REQTIME      object
USEDTIME     object
NODES        int64
CPUS         int64
PARTITION    object
EXITCODE     object
dtypes: int64(2), object(9)
memory usage: 350.7+ MB

In [5]:
ACCRE_df.tail()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
4178914,12498123_14,clara,stacey,32768Mn,0,1-12:00:00,00:00:22,1,2,production,0:0
4178915,12498123_15,clara,stacey,32768Mn,0,1-12:00:00,00:00:30,1,2,production,0:0
4178916,12498123_16,clara,stacey,32768Mn,0,1-12:00:00,00:00:33,1,2,production,0:0
4178917,12498161,antares,hunt,4096Mn,364.25M,2-00:00:00,00:01:45,1,1,debug,0:0
4178918,12498182,antares,hunt,4096Mn,399.74M,2-00:00:00,00:03:10,1,1,debug,0:0

In [6]:
ACCRE_df

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,6794220,laxtons,mikala,247808Mn,115217.12M,14-00:00:00,11-01:32:50,1,16,production,0:0
1,6983193_1880,discovery,serina,12288Mn,6516.10M,13-18:00:00,12-09:26:41,1,1,production,0:0
2,7055502_1863,discovery,serina,12288Mn,0.09M,13-18:00:00,13-08:27:36,1,1,production,0:0
3,7055502_1800,discovery,serina,12288Mn,8333.82M,13-18:00:00,12-03:50:59,1,1,production,0:0
4,7055502_1806,discovery,serina,12288Mn,8304.03M,13-18:00:00,11-08:43:46,1,1,production,0:0
...,...,...,...,...,...,...,...,...,...,...,...
4178914,12498123_14,clara,stacey,32768Mn,0,1-12:00:00,00:00:22,1,2,production,0:0
4178915,12498123_15,clara,stacey,32768Mn,0,1-12:00:00,00:00:30,1,2,production,0:0
4178916,12498123_16,clara,stacey,32768Mn,0,1-12:00:00,00:00:33,1,2,production,0:0
4178917,12498161,antares,hunt,4096Mn,364.25M,2-00:00:00,00:01:45,1,1,debug,0:0
4178918,12498182,antares,hunt,4096Mn,399.74M,2-00:00:00,00:03:10,1,1,debug,0:0

In [7]:
ACCRE_df.dropna()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,6794220,laxtons,mikala,247808Mn,115217.12M,14-00:00:00,11-01:32:50,1,16,production,0:0
1,6983193_1880,discovery,serina,12288Mn,6516.10M,13-18:00:00,12-09:26:41,1,1,production,0:0
2,7055502_1863,discovery,serina,12288Mn,0.09M,13-18:00:00,13-08:27:36,1,1,production,0:0
3,7055502_1800,discovery,serina,12288Mn,8333.82M,13-18:00:00,12-03:50:59,1,1,production,0:0
4,7055502_1806,discovery,serina,12288Mn,8304.03M,13-18:00:00,11-08:43:46,1,1,production,0:0
...,...,...,...,...,...,...,...,...,...,...,...
4178914,12498123_14,clara,stacey,32768Mn,0,1-12:00:00,00:00:22,1,2,production,0:0
4178915,12498123_15,clara,stacey,32768Mn,0,1-12:00:00,00:00:30,1,2,production,0:0
4178916,12498123_16,clara,stacey,32768Mn,0,1-12:00:00,00:00:33,1,2,production,0:0
4178917,12498161,antares,hunt,4096Mn,364.25M,2-00:00:00,00:01:45,1,1,debug,0:0
4178918,12498182,antares,hunt,4096Mn,399.74M,2-00:00:00,00:03:10,1,1,debug,0:0

In [8]:
ACCRE_df = ACCRE_df.drop_duplicates()

In [9]:
ACCRE_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3265799 entries, 0 to 4178918
Data columns (total 11 columns):
JOBID        object
ACCOUNT      object
USER         object
REQMEM       object
USEDMEM      object
REQTIME      object
USEDTIME     object
NODES        int64
CPUS         int64
PARTITION    object
EXITCODE     object
dtypes: int64(2), object(9)
memory usage: 299.0+ MB

In [10]:
ACCRE_df_abridged = pd.read_csv('data/fullsample_dedup.csv')

In [11]:
ACCRE_df_abridged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3265799 entries, 0 to 3265798
Data columns (total 11 columns):
JOBID        object
ACCOUNT      object
USER         object
REQMEM       object
USEDMEM      object
REQTIME      object
USEDTIME     object
NODES        int64
CPUS         int64
PARTITION    object
EXITCODE     object
dtypes: int64(2), object(9)
memory usage: 274.1+ MB

In [12]:
ACCRE_df = ACCRE_df.loc[ACCRE_df['PARTITION'] == 'production']
ACCRE_df.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,6794220,laxtons,mikala,247808Mn,115217.12M,14-00:00:00,11-01:32:50,1,16,production,0:0
1,6983193_1880,discovery,serina,12288Mn,6516.10M,13-18:00:00,12-09:26:41,1,1,production,0:0
2,7055502_1863,discovery,serina,12288Mn,0.09M,13-18:00:00,13-08:27:36,1,1,production,0:0
3,7055502_1800,discovery,serina,12288Mn,8333.82M,13-18:00:00,12-03:50:59,1,1,production,0:0
4,7055502_1806,discovery,serina,12288Mn,8304.03M,13-18:00:00,11-08:43:46,1,1,production,0:0

In [ ]:
pd.datetime()