In [116]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
%matplotlib inline

In [117]:
initial_data =pd.read_csv('data/fullsample.csv')

In [118]:
initial_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4365379 entries, 0 to 4365378
Data columns (total 12 columns):
JOBID        object
ACCOUNT      object
USER         object
REQMEM       object
USEDMEM      object
REQTIME      object
USEDTIME     object
NODES        int64
CPUS         int64
PARTITION    object
EXITCODE     object
SUBMIT       object
dtypes: int64(2), object(10)
memory usage: 399.7+ MB

In [119]:
initial_data=initial_data.drop_duplicates()

In [120]:
initial_data.shape

(3450799, 12)

In [121]:
initial_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3450799 entries, 0 to 4365378
Data columns (total 12 columns):
JOBID        object
ACCOUNT      object
USER         object
REQMEM       object
USEDMEM      object
REQTIME      object
USEDTIME     object
NODES        int64
CPUS         int64
PARTITION    object
EXITCODE     object
SUBMIT       object
dtypes: int64(2), object(10)
memory usage: 342.3+ MB

In [122]:
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,SUBMIT
0,6794220,laxtons,mikala,247808Mn,115217.12M,14-00:00:00,11-01:32:50,1,16,production,0:0,2019-03-09T16:38:44
1,6983193_1880,discovery,serina,12288Mn,6516.10M,13-18:00:00,12-09:26:41,1,1,production,0:0,2019-03-07T18:39:59
2,7055502_1863,discovery,serina,12288Mn,0.09M,13-18:00:00,13-08:27:36,1,1,production,0:0,2019-03-11T10:06:06
3,7055502_1800,discovery,serina,12288Mn,8333.82M,13-18:00:00,12-03:50:59,1,1,production,0:0,2019-03-11T10:06:06
4,7055502_1806,discovery,serina,12288Mn,8304.03M,13-18:00:00,11-08:43:46,1,1,production,0:0,2019-03-11T10:06:06

In [123]:
initial_ata=initial_data.loc[initial_data['PARTITION']=='production']
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,SUBMIT
0,6794220,laxtons,mikala,247808Mn,115217.12M,14-00:00:00,11-01:32:50,1,16,production,0:0,2019-03-09T16:38:44
1,6983193_1880,discovery,serina,12288Mn,6516.10M,13-18:00:00,12-09:26:41,1,1,production,0:0,2019-03-07T18:39:59
2,7055502_1863,discovery,serina,12288Mn,0.09M,13-18:00:00,13-08:27:36,1,1,production,0:0,2019-03-11T10:06:06
3,7055502_1800,discovery,serina,12288Mn,8333.82M,13-18:00:00,12-03:50:59,1,1,production,0:0,2019-03-11T10:06:06
4,7055502_1806,discovery,serina,12288Mn,8304.03M,13-18:00:00,11-08:43:46,1,1,production,0:0,2019-03-11T10:06:06

In [124]:
initial_data.shape

(3450799, 12)

In [125]:
#remove the - from the reqtime and usedtime
initial_data.REQTIME=initial_data.REQTIME.str.replace('-',':')
initial_data.USEDTIME=initial_data.USEDTIME.str.replace('-',':')

In [126]:
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,SUBMIT
0,6794220,laxtons,mikala,247808Mn,115217.12M,14:00:00:00,11:01:32:50,1,16,production,0:0,2019-03-09T16:38:44
1,6983193_1880,discovery,serina,12288Mn,6516.10M,13:18:00:00,12:09:26:41,1,1,production,0:0,2019-03-07T18:39:59
2,7055502_1863,discovery,serina,12288Mn,0.09M,13:18:00:00,13:08:27:36,1,1,production,0:0,2019-03-11T10:06:06
3,7055502_1800,discovery,serina,12288Mn,8333.82M,13:18:00:00,12:03:50:59,1,1,production,0:0,2019-03-11T10:06:06
4,7055502_1806,discovery,serina,12288Mn,8304.03M,13:18:00:00,11:08:43:46,1,1,production,0:0,2019-03-11T10:06:06

In [127]:
date_time=initial_data.REQTIME

In [128]:
#covert the REQTIME to total seconds
to_seconds=[]
for time in date_time:
    split=time.split(':')
    if len(split)==4:
        seconds=int(split[0])*86400+int(split[1])*3600+int(split[2])*60+int(split[3])
        to_seconds.append(seconds)
    else:
        seconds=int(split[0])*3600+int(split[1])*60+int(split[2])
        to_seconds.append(seconds)

In [129]:
initial_data['REQTIME']=to_seconds

In [130]:

initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,SUBMIT
0,6794220,laxtons,mikala,247808Mn,115217.12M,1209600,11:01:32:50,1,16,production,0:0,2019-03-09T16:38:44
1,6983193_1880,discovery,serina,12288Mn,6516.10M,1188000,12:09:26:41,1,1,production,0:0,2019-03-07T18:39:59
2,7055502_1863,discovery,serina,12288Mn,0.09M,1188000,13:08:27:36,1,1,production,0:0,2019-03-11T10:06:06
3,7055502_1800,discovery,serina,12288Mn,8333.82M,1188000,12:03:50:59,1,1,production,0:0,2019-03-11T10:06:06
4,7055502_1806,discovery,serina,12288Mn,8304.03M,1188000,11:08:43:46,1,1,production,0:0,2019-03-11T10:06:06

In [131]:

used_time=initial_data.USEDTIME

In [132]:
#covert the USEDTIME to total seconds

def convert_to_seconds(new):
    split_again=new.split(':')
    if len(split_again)==4:
        sec_2=int(split_again[0])*86400+int(split_again[1])*3600+int(split_again[2])*60+int(split_again[3])
        
    else:
        sec_2=int(split_again[0])*3600+int(split_again[1])*60+int(split_again[2])
        
    return sec_2

In [133]:
convert_to_seconds('11:01:32:50')

955970

In [134]:
initial_data.USEDTIME=initial_data.USEDTIME.apply(convert_to_seconds)

In [135]:
head= initial_data.head()

In [136]:
#splits numbers and letters
head.REQMEM=head['REQMEM'].str.replace(r'(Mn|Mc)',r' \1')

In [137]:
head.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,SUBMIT
0,6794220,laxtons,mikala,247808 Mn,115217.12M,1209600,955970,1,16,production,0:0,2019-03-09T16:38:44
1,6983193_1880,discovery,serina,12288 Mn,6516.10M,1188000,1070801,1,1,production,0:0,2019-03-07T18:39:59
2,7055502_1863,discovery,serina,12288 Mn,0.09M,1188000,1153656,1,1,production,0:0,2019-03-11T10:06:06
3,7055502_1800,discovery,serina,12288 Mn,8333.82M,1188000,1050659,1,1,production,0:0,2019-03-11T10:06:06
4,7055502_1806,discovery,serina,12288 Mn,8304.03M,1188000,981826,1,1,production,0:0,2019-03-11T10:06:06

In [138]:

req=head.REQMEM.loc[1].split(' ')

In [139]:
req

['12288', 'Mn']

In [140]:
(int(req[0])*head.NODES.loc[0])/(head.CPUS.loc[0])

768.0

In [141]:
req[1]

'Mn'

In [143]:
head[['ID','Sub']] = head.JOBID.str.split("_",expand=True)

In [144]:
head.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,SUBMIT,ID,Sub
0,6794220,laxtons,mikala,247808 Mn,115217.12M,1209600,955970,1,16,production,0:0,2019-03-09T16:38:44,6794220,None
1,6983193_1880,discovery,serina,12288 Mn,6516.10M,1188000,1070801,1,1,production,0:0,2019-03-07T18:39:59,6983193,1880
2,7055502_1863,discovery,serina,12288 Mn,0.09M,1188000,1153656,1,1,production,0:0,2019-03-11T10:06:06,7055502,1863
3,7055502_1800,discovery,serina,12288 Mn,8333.82M,1188000,1050659,1,1,production,0:0,2019-03-11T10:06:06,7055502,1800
4,7055502_1806,discovery,serina,12288 Mn,8304.03M,1188000,981826,1,1,production,0:0,2019-03-11T10:06:06,7055502,1806

In [99]:
#head.JOBID=head['JOBID'].str.split('_')

In [151]:
head=head.dropna(subset=['ID'])
head.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,SUBMIT,ID,Sub
0,6794220,laxtons,mikala,247808 Mn,115217.12M,1209600,955970,1,16,production,0:0,2019-03-09T16:38:44,6794220,None
1,6983193_1880,discovery,serina,12288 Mn,6516.10M,1188000,1070801,1,1,production,0:0,2019-03-07T18:39:59,6983193,1880
2,7055502_1863,discovery,serina,12288 Mn,0.09M,1188000,1153656,1,1,production,0:0,2019-03-11T10:06:06,7055502,1863
3,7055502_1800,discovery,serina,12288 Mn,8333.82M,1188000,1050659,1,1,production,0:0,2019-03-11T10:06:06,7055502,1800
4,7055502_1806,discovery,serina,12288 Mn,8304.03M,1188000,981826,1,1,production,0:0,2019-03-11T10:06:06,7055502,1806

In [147]:
head['ID']=head['ID'].astype(int)

C:\Users\anami\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [150]:
head=head.sort_values(head.ID, ascending=False)

KeyError: 0    6794220
1    6983193
2    7055502
3    7055502
4    7055502
Name: ID, dtype: int32