In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
%matplotlib inline

In [2]:
accre_cleaned =pd.read_csv('initial_data.csv')

In [3]:
accre_cleaned.shape

(3319256, 14)

In [4]:
accre_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3319256 entries, 0 to 3319255
Data columns (total 14 columns):
JOBID        object
ACCOUNT      object
USER         object
REQMEM       float64
USEDMEM      float64
REQTIME      int64
USEDTIME     int64
NODES        int64
CPUS         int64
PARTITION    object
EXITCODE     object
SUBMIT       object
ID           int64
Sub          float64
dtypes: float64(3), int64(5), object(6)
memory usage: 354.5+ MB

In [5]:
accre_cleaned['EXITCODE'].value_counts()

0:0      3319151
0:9           46
1:0           31
7:0            9
0:125          6
0:15           4
2:0            4
0:12           3
11:0           1
0:6            1
Name: EXITCODE, dtype: int64

In [6]:
accre_cleaned=accre_cleaned[accre_cleaned.NODES==1]

In [7]:
accre_cleaned.shape

(3315218, 14)

In [8]:
accre_cleaned.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,SUBMIT,ID,Sub
0,6794220,laxtons,mikala,15488.0,7201.07,1209600,955970,1,16,production,0:0,2019-03-09T16:38:44,6794220,NaN
1,6983193_1880,discovery,serina,12288.0,6516.10,1188000,1070801,1,1,production,0:0,2019-03-07T18:39:59,6983193,1880.0
2,7055502_1863,discovery,serina,12288.0,0.09,1188000,1153656,1,1,production,0:0,2019-03-11T10:06:06,7055502,1863.0
3,7055502_1800,discovery,serina,12288.0,8333.82,1188000,1050659,1,1,production,0:0,2019-03-11T10:06:06,7055502,1800.0
4,7055502_1806,discovery,serina,12288.0,8304.03,1188000,981826,1,1,production,0:0,2019-03-11T10:06:06,7055502,1806.0

In [9]:
# keeping column with value for EXITCODE=0:0
accre_cleaned=accre_cleaned[accre_cleaned.EXITCODE=='0:0']

In [10]:
accre_cleaned.shape

(3315147, 14)

In [11]:
#dummy=accre_cleaned.head(10000)

In [12]:
accre_cleaned.ACCOUNT.nunique()

111

In [13]:
#calculating percent memory used
def percent_used(x,y):
    return (y/x)*100

In [14]:
#grouping by account and agrregating by total REQMEM , USEDMEM , USEDTIME
#accre_cleaned_sum=accre_cleaned.groupby('ACCOUNT').agg({'REQMEM':sum,'USEDMEM':sum,'USEDTIME':sum})

In [15]:
#accre_cleaned_sum.head()

In [16]:
#accre_cleaned_sum['TPUSED']=accre_cleaned_sum.apply(lambda row:percent_used(row['REQMEM'],row['USEDMEM']),axis=1)

In [17]:
#accre_cleaned_sum=accre_cleaned_sum.sort_values('TPUSED', ascending=False)

In [18]:
#accre_cleaned_sum

In [19]:
# Average requested and used memory, sum total of used memory
#accre_cleaned_average= accre_cleaned.groupby('ACCOUNT')['REQMEM','USEDMEM','USEDTIME'].mean()

d={'REQMEM':'AVREQMEM','USEDMEM':'AVUSEDMEM','USEDTIME':'SUMUSEDMEM'}
accre_cleaned_average=accre_cleaned.groupby('ACCOUNT').agg({'REQMEM':'mean','USEDMEM':'mean','USEDTIME':'sum'}).rename(columns=d)

In [20]:
accre_cleaned_average.head()

              AVREQMEM    AVUSEDMEM  SUMUSEDMEM
ACCOUNT
alkmene   11553.681629  3550.096961  1789433544
almonds    4593.089043   692.240520  1871396628
amaranth   9409.086170   772.543185      940829
antares    6040.981151  1165.408642  8572893654
arra       9580.331210  3989.739413     3904366

In [21]:
accre_cleaned_average['AVPUSED']=accre_cleaned_average.apply(lambda row:percent_used(row['AVREQMEM'],row['AVUSEDMEM']),axis=1)

In [22]:
accre_cleaned_average=accre_cleaned_average.sort_values('AVPUSED', ascending=False)

In [23]:
accre_cleaned_average

                   AVREQMEM     AVUSEDMEM  SUMUSEDMEM     AVPUSED
ACCOUNT
blood           1024.000000   1939.880000         835  189.441406
shiny          15387.552458  13862.998949     2368181   90.092294
cep            18928.326531  15767.739473     1753206   83.302343
spring         10775.942446   8696.347446      536464   80.701502
shell          14297.600000   9286.887401      138001   64.954170
blackberries    4029.217391   2332.061168      669772   57.878763
winged         15075.017254   8389.151971   477224408   55.649369
mixed           8060.595356   4436.102203  1094333271   55.034424
large           1581.965087    850.680302     7244942   53.773646
opo            10240.000000   5368.157067   118579760   52.423409
kinnow         15580.586556   7709.805159    21345526   49.483408
pecans          8069.887930   3632.561257   232039798   45.013776
arra            9580.331210   3989.739413     3904366   41.645109
leaves          2610.110638   1083.148904    21769008   41.498199
discovery      10535.872351   4300.235735   478233957   40.815184
polk           35818.192593  14459.219194      415078   40.368366
brazilnuts     15993.811505   6251.127097    97788718   39.084662
hass            4188.330097   1597.035170      306872   38.130595
strawberries    4118.579471   1446.296101   115161045   35.116382
wax             8989.659338   3156.766912    32233942   35.115534
fava            2048.000000    717.130018     8936483   35.016114
horn            6253.097862   2186.443317   151786092   34.965762
enoki           2549.456885    871.982963     1385049   34.202695
crab            4382.381236   1482.049006    81320124   33.818350
alkmene        11553.681629   3550.096961  1789433544   30.726976
seeded          7178.986053   2125.551277   228260204   29.607959
fiddlehead     19456.000000   5636.605000      252516   28.971037
flamingo        3369.201469    948.395847    88846762   28.148980
morita         61707.130435  17024.656000       36561   27.589447
president       6795.856027   1837.034904   157242071   27.031693
...                     ...           ...         ...         ...
durondeau       4096.000000    146.530000        1162    3.577393
ingrid          1024.766148     34.391561    34885976    3.356040
texas           6854.650751    208.831943     3081510    3.046573
carrot         10496.748538    303.364532      190674    2.890081
pasilla        13174.071076    378.205546   557359209    2.870833
regal            520.982456     14.256031      841300    2.736374
key             1066.989085     28.113140    90100168    2.634810
crowns          2542.933333     61.810083     3939952    2.430661
nino           16936.634921    343.422864     5873872    2.027692
pinole          2030.679785     35.582619      116542    1.752252
with            1800.000000     31.471000       39622    1.748389
stalk          14692.613192    255.852509     3147435    1.741368
sunburst       12656.282609    204.202828     1225421    1.613450
dill            1887.410093     28.262395   194138625    1.497417
burro          11812.213031    107.087099    39701998    0.906579
thomcord        2047.159609     17.834332       94919    0.871174
round           9517.176471     78.098566       93928    0.820606
bulk            8187.238317     60.685775   184171399    0.741224
summer         17647.511864     51.126614      275855    0.289710
baby            1024.000000      2.744000        3284    0.267969
bay             1706.666667      4.215694      179035    0.247013
india          11878.400000     22.535000      114241    0.189714
fairchild       1026.097865      1.333681     9137031    0.129976
shallots        1024.000000      0.620000          60    0.060547
quelites       16384.000000      4.272500          95    0.026077
mignonette     12800.000000      1.167576    10202559    0.009122
minnewashta     4000.000000      0.060625         954    0.001516
sunflower       1536.000000      0.000000          45    0.000000
sugranineteen   2048.000000      0.000000          26    0.000000
golden          2048.000000      0.000000          31    0.000000

[111 rows x 4 columns]

In [24]:
#Merge REQTIME and USEDTIME column

In [25]:
#calculating weighted percent memory used
#def weighted_percent_used(x,y):
  #  return (x*y)/100