In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
%matplotlib inline

In [2]:
accre_df =pd.read_csv('data/fullsample.csv')

In [3]:
accre_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4178919 entries, 0 to 4178918
Data columns (total 11 columns):
JOBID        object
ACCOUNT      object
USER         object
REQMEM       object
USEDMEM      object
REQTIME      object
USEDTIME     object
NODES        int64
CPUS         int64
PARTITION    object
EXITCODE     object
dtypes: int64(2), object(9)
memory usage: 350.7+ MB

In [4]:
accre_df=accre_df.drop_duplicates()

In [5]:
accre_df.shape

(3265799, 11)

In [6]:
accre_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3265799 entries, 0 to 4178918
Data columns (total 11 columns):
JOBID        object
ACCOUNT      object
USER         object
REQMEM       object
USEDMEM      object
REQTIME      object
USEDTIME     object
NODES        int64
CPUS         int64
PARTITION    object
EXITCODE     object
dtypes: int64(2), object(9)
memory usage: 299.0+ MB

In [7]:
accre_df.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,6794220,laxtons,mikala,247808Mn,115217.12M,14-00:00:00,11-01:32:50,1,16,production,0:0
1,6983193_1880,discovery,serina,12288Mn,6516.10M,13-18:00:00,12-09:26:41,1,1,production,0:0
2,7055502_1863,discovery,serina,12288Mn,0.09M,13-18:00:00,13-08:27:36,1,1,production,0:0
3,7055502_1800,discovery,serina,12288Mn,8333.82M,13-18:00:00,12-03:50:59,1,1,production,0:0
4,7055502_1806,discovery,serina,12288Mn,8304.03M,13-18:00:00,11-08:43:46,1,1,production,0:0

In [8]:
accre_df=accre_df.loc[accre_df['PARTITION']=='production']

In [9]:
accre_df.shape

(3138764, 11)

In [10]:
def get_sec(time_str):
    """Get Seconds from time."""
    h, m, s = time_str.split(':')
    return int(h) * 3600 + int(m) * 60 + int(s)