In [1]:
#4 import the required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
%matplotlib inline

In [2]:
#read the fullsmple file

initial = 'data/fullsample.csv'
initial_data = pd.read_csv(initial)

In [3]:
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,6794220,laxtons,mikala,247808Mn,115217.12M,14-00:00:00,11-01:32:50,1,16,production,0:0
1,6983193_1880,discovery,serina,12288Mn,6516.10M,13-18:00:00,12-09:26:41,1,1,production,0:0
2,7055502_1863,discovery,serina,12288Mn,0.09M,13-18:00:00,13-08:27:36,1,1,production,0:0
3,7055502_1800,discovery,serina,12288Mn,8333.82M,13-18:00:00,12-03:50:59,1,1,production,0:0
4,7055502_1806,discovery,serina,12288Mn,8304.03M,13-18:00:00,11-08:43:46,1,1,production,0:0

In [4]:
initial_data.tail()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
4178914,12498123_14,clara,stacey,32768Mn,0,1-12:00:00,00:00:22,1,2,production,0:0
4178915,12498123_15,clara,stacey,32768Mn,0,1-12:00:00,00:00:30,1,2,production,0:0
4178916,12498123_16,clara,stacey,32768Mn,0,1-12:00:00,00:00:33,1,2,production,0:0
4178917,12498161,antares,hunt,4096Mn,364.25M,2-00:00:00,00:01:45,1,1,debug,0:0
4178918,12498182,antares,hunt,4096Mn,399.74M,2-00:00:00,00:03:10,1,1,debug,0:0

In [5]:
initial_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4178919 entries, 0 to 4178918
Data columns (total 11 columns):
JOBID        object
ACCOUNT      object
USER         object
REQMEM       object
USEDMEM      object
REQTIME      object
USEDTIME     object
NODES        int64
CPUS         int64
PARTITION    object
EXITCODE     object
dtypes: int64(2), object(9)
memory usage: 350.7+ MB

In [6]:
initial_data.columns

Index(['JOBID', 'ACCOUNT', 'USER', 'REQMEM', 'USEDMEM', 'REQTIME', 'USEDTIME',
       'NODES', 'CPUS', 'PARTITION', 'EXITCODE'],
      dtype='object')

In [7]:
#remove duplicate rows
initial_data=initial_data.drop_duplicates()

In [8]:
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,6794220,laxtons,mikala,247808Mn,115217.12M,14-00:00:00,11-01:32:50,1,16,production,0:0
1,6983193_1880,discovery,serina,12288Mn,6516.10M,13-18:00:00,12-09:26:41,1,1,production,0:0
2,7055502_1863,discovery,serina,12288Mn,0.09M,13-18:00:00,13-08:27:36,1,1,production,0:0
3,7055502_1800,discovery,serina,12288Mn,8333.82M,13-18:00:00,12-03:50:59,1,1,production,0:0
4,7055502_1806,discovery,serina,12288Mn,8304.03M,13-18:00:00,11-08:43:46,1,1,production,0:0

In [9]:
#keep only data that has partition= production 
initial_data=initial_data.loc[initial_data['PARTITION']=='production']

In [10]:
#keep on ly successful jobs. meaning keep all exit code that contain 0:0
#initial_data=initial_data.loc[initial_data['EXITCODE']=='0:0']
#will need to use later but not righ now

In [11]:
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,6794220,laxtons,mikala,247808Mn,115217.12M,14-00:00:00,11-01:32:50,1,16,production,0:0
1,6983193_1880,discovery,serina,12288Mn,6516.10M,13-18:00:00,12-09:26:41,1,1,production,0:0
2,7055502_1863,discovery,serina,12288Mn,0.09M,13-18:00:00,13-08:27:36,1,1,production,0:0
3,7055502_1800,discovery,serina,12288Mn,8333.82M,13-18:00:00,12-03:50:59,1,1,production,0:0
4,7055502_1806,discovery,serina,12288Mn,8304.03M,13-18:00:00,11-08:43:46,1,1,production,0:0

In [12]:
#remove the - from the reqtime and usedtime
initial_data.REQTIME=initial_data.REQTIME.str.replace('-',':')
initial_data.USEDTIME=initial_data.USEDTIME.str.replace('-',':')

In [13]:
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,6794220,laxtons,mikala,247808Mn,115217.12M,14:00:00:00,11:01:32:50,1,16,production,0:0
1,6983193_1880,discovery,serina,12288Mn,6516.10M,13:18:00:00,12:09:26:41,1,1,production,0:0
2,7055502_1863,discovery,serina,12288Mn,0.09M,13:18:00:00,13:08:27:36,1,1,production,0:0
3,7055502_1800,discovery,serina,12288Mn,8333.82M,13:18:00:00,12:03:50:59,1,1,production,0:0
4,7055502_1806,discovery,serina,12288Mn,8304.03M,13:18:00:00,11:08:43:46,1,1,production,0:0

In [14]:
#spill=initial_data.REQTIME[1]

In [15]:
#spill=spill.split(':')

In [16]:
#spill

In [17]:
#len(spill)

In [18]:
#int(D)*86400 + int(h)*3600 + int(m)*60 +int(s)
#time=int(spill[0])*86400+int(spill[1])*3600+int(spill[2])*60+int(spill[3])
#time

In [19]:
date_time=initial_data.REQTIME

In [20]:
%%time
#covert the REQTIME to total seconds
to_seconds=[]
for time in date_time:
    split=time.split(':')
    if len(split)==4:
        seconds=int(split[0])*86400+int(split[1])*3600+int(split[2])*60+int(split[3])
        to_seconds.append(seconds)
    else:
        seconds=int(split[0])*3600+int(split[1])*60+int(split[2])
        to_seconds.append(seconds)

CPU times: user 6.05 s, sys: 87.9 ms, total: 6.14 s
Wall time: 6.19 s

In [21]:
initial_data['REQTIME']=to_seconds

In [22]:
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,6794220,laxtons,mikala,247808Mn,115217.12M,1209600,11:01:32:50,1,16,production,0:0
1,6983193_1880,discovery,serina,12288Mn,6516.10M,1188000,12:09:26:41,1,1,production,0:0
2,7055502_1863,discovery,serina,12288Mn,0.09M,1188000,13:08:27:36,1,1,production,0:0
3,7055502_1800,discovery,serina,12288Mn,8333.82M,1188000,12:03:50:59,1,1,production,0:0
4,7055502_1806,discovery,serina,12288Mn,8304.03M,1188000,11:08:43:46,1,1,production,0:0

In [23]:
used_time=initial_data.USEDTIME

In [24]:

#covert the USEDTIME to total seconds

def convert_to_seconds(new):
    split_again=new.split(':')
    if len(split_again)==4:
        sec_2=int(split_again[0])*86400+int(split_again[1])*3600+int(split_again[2])*60+int(split_again[3])
        
    else:
        sec_2=int(split_again[0])*3600+int(split_again[1])*60+int(split_again[2])
        
    return sec_2

In [25]:
convert_to_seconds('11:01:32:50')

955970

In [28]:
%%time
initial_data.USEDTIME=initial_data.USEDTIME.apply(convert_to_seconds)

CPU times: user 6.35 s, sys: 336 ms, total: 6.69 s
Wall time: 6.66 s

In [32]:
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,6794220,laxtons,mikala,247808Mn,115217.12M,1209600,955970,1,16,production,0:0
1,6983193_1880,discovery,serina,12288Mn,6516.10M,1188000,1070801,1,1,production,0:0
2,7055502_1863,discovery,serina,12288Mn,0.09M,1188000,1153656,1,1,production,0:0
3,7055502_1800,discovery,serina,12288Mn,8333.82M,1188000,1050659,1,1,production,0:0
4,7055502_1806,discovery,serina,12288Mn,8304.03M,1188000,981826,1,1,production,0:0

In [68]:
head=initial_data.head()

In [64]:
#head.info()

AttributeError: 'Series' object has no attribute 'info'

In [ ]:
#pandas.Series.dt.total_seconds
#print (df['col'].dt.total_seconds())

In [65]:
#string4="Test String"
#string_revised=" ".join(string4)
#print string_revised

#req=" ".join(head.REQMEM)

In [66]:
req

'2 4 7 8 0 8 M n'

In [ ]:
#d#ef get_sec():
   # """Get seconds from time"""
   #h,m,s=initial_data.REQTIME(':')
  # return int(D)*86400 + int(h)*3600 + int(m)*60 +int(s)

In [ ]:
#import time
#import datetime as dt

In [ ]:

#td=pd.Timedelta(initial_data['USEDTIME']) 
#td.seconds

In [ ]:

#df['time_diff'] = df.time_diff.dt.total_seconds()
#df['Origin Time(Local)'] = pd.to_timedelta(df['Origin Time(Local)'])
#df['Seconds'] = df['Origin Time(Local)'].dt.total_seconds()

#initial_data['USEDTIME']=pd.to_timedelta(initial_data['USEDTIME'])
#initial_data['USEDTIME']=initial_data['USEDTIME'].dt.total_seconds()

In [ ]:
#initial_data

In [ ]:
#if test expression:
 #   Body of if
#elif test expression:
 #   Body of elif
#else: 
 #   Body of else

In [80]:
#splits numbers and letters
head.REQMEM=head['REQMEM'].str.replace(r'(Mn|Mc)',r' \1')

//anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [81]:
head.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,6794220,laxtons,mikala,247808 Mn,115217.12M,1209600,955970,1,16,production,0:0
1,6983193_1880,discovery,serina,12288 Mn,6516.10M,1188000,1070801,1,1,production,0:0
2,7055502_1863,discovery,serina,12288 Mn,0.09M,1188000,1153656,1,1,production,0:0
3,7055502_1800,discovery,serina,12288 Mn,8333.82M,1188000,1050659,1,1,production,0:0
4,7055502_1806,discovery,serina,12288 Mn,8304.03M,1188000,981826,1,1,production,0:0

In [99]:
req=head.REQMEM.loc[1].split(' ')

In [100]:
req

['12288', 'Mn']

In [105]:
(int(req[0])*head.NODES.loc[0])/(head.CPUS.loc[0])

768.0

In [92]:
req[1]

'Mn'