In [1]:
#4 import the required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
%matplotlib inline

In [2]:
#read the fullsmple file

initial = 'data/fullsample.csv'
initial_data = pd.read_csv(initial)

In [3]:
initial_data.shape

(4365379, 12)

In [4]:
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,SUBMIT
0,6794220,laxtons,mikala,247808Mn,115217.12M,14-00:00:00,11-01:32:50,1,16,production,0:0,2019-03-09T16:38:44
1,6983193_1880,discovery,serina,12288Mn,6516.10M,13-18:00:00,12-09:26:41,1,1,production,0:0,2019-03-07T18:39:59
2,7055502_1863,discovery,serina,12288Mn,0.09M,13-18:00:00,13-08:27:36,1,1,production,0:0,2019-03-11T10:06:06
3,7055502_1800,discovery,serina,12288Mn,8333.82M,13-18:00:00,12-03:50:59,1,1,production,0:0,2019-03-11T10:06:06
4,7055502_1806,discovery,serina,12288Mn,8304.03M,13-18:00:00,11-08:43:46,1,1,production,0:0,2019-03-11T10:06:06

In [5]:
initial_data.tail()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,SUBMIT
4365374,12741062_145,mickey,boyce,4096Mc,462.90M,00:10:00,00:01:44,1,1,production,0:0,2019-09-25T14:22:03
4365375,12741062_146,mickey,boyce,4096Mc,462.89M,00:10:00,00:01:44,1,1,production,0:0,2019-09-25T14:22:03
4365376,12741062_147,mickey,boyce,4096Mc,553.77M,00:10:00,00:01:53,1,1,production,0:0,2019-09-25T14:22:03
4365377,12741062_148,mickey,boyce,4096Mc,557.09M,00:10:00,00:01:52,1,1,production,0:0,2019-09-25T14:22:03
4365378,12741062_149,mickey,boyce,4096Mc,616.77M,00:10:00,00:01:52,1,1,production,0:0,2019-09-25T14:22:03

In [6]:
initial_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4365379 entries, 0 to 4365378
Data columns (total 12 columns):
JOBID        object
ACCOUNT      object
USER         object
REQMEM       object
USEDMEM      object
REQTIME      object
USEDTIME     object
NODES        int64
CPUS         int64
PARTITION    object
EXITCODE     object
SUBMIT       object
dtypes: int64(2), object(10)
memory usage: 399.7+ MB

In [7]:
initial_data.columns

Index(['JOBID', 'ACCOUNT', 'USER', 'REQMEM', 'USEDMEM', 'REQTIME', 'USEDTIME',
       'NODES', 'CPUS', 'PARTITION', 'EXITCODE', 'SUBMIT'],
      dtype='object')

In [8]:
#remove duplicate rows
initial_data=initial_data.drop_duplicates()

In [9]:
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,SUBMIT
0,6794220,laxtons,mikala,247808Mn,115217.12M,14-00:00:00,11-01:32:50,1,16,production,0:0,2019-03-09T16:38:44
1,6983193_1880,discovery,serina,12288Mn,6516.10M,13-18:00:00,12-09:26:41,1,1,production,0:0,2019-03-07T18:39:59
2,7055502_1863,discovery,serina,12288Mn,0.09M,13-18:00:00,13-08:27:36,1,1,production,0:0,2019-03-11T10:06:06
3,7055502_1800,discovery,serina,12288Mn,8333.82M,13-18:00:00,12-03:50:59,1,1,production,0:0,2019-03-11T10:06:06
4,7055502_1806,discovery,serina,12288Mn,8304.03M,13-18:00:00,11-08:43:46,1,1,production,0:0,2019-03-11T10:06:06

In [10]:
#keep only data that has partition= production 
initial_data=initial_data.loc[initial_data['PARTITION']=='production']

In [11]:
initial_data.shape

(3319257, 12)

In [12]:
#keep only successful jobs. meaning keep all exit code that contain 0:0
#initial_data=initial_data.loc[initial_data['EXITCODE']=='0:0']
#we will use this for qeustions 3 and 4

In [13]:
initial_data.shape

(3319257, 12)

In [14]:
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,SUBMIT
0,6794220,laxtons,mikala,247808Mn,115217.12M,14-00:00:00,11-01:32:50,1,16,production,0:0,2019-03-09T16:38:44
1,6983193_1880,discovery,serina,12288Mn,6516.10M,13-18:00:00,12-09:26:41,1,1,production,0:0,2019-03-07T18:39:59
2,7055502_1863,discovery,serina,12288Mn,0.09M,13-18:00:00,13-08:27:36,1,1,production,0:0,2019-03-11T10:06:06
3,7055502_1800,discovery,serina,12288Mn,8333.82M,13-18:00:00,12-03:50:59,1,1,production,0:0,2019-03-11T10:06:06
4,7055502_1806,discovery,serina,12288Mn,8304.03M,13-18:00:00,11-08:43:46,1,1,production,0:0,2019-03-11T10:06:06

In [15]:
#remove the - from the reqtime and usedtime
initial_data.REQTIME=initial_data.REQTIME.str.replace('-',':')
initial_data.USEDTIME=initial_data.USEDTIME.str.replace('-',':')

In [16]:
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,SUBMIT
0,6794220,laxtons,mikala,247808Mn,115217.12M,14:00:00:00,11:01:32:50,1,16,production,0:0,2019-03-09T16:38:44
1,6983193_1880,discovery,serina,12288Mn,6516.10M,13:18:00:00,12:09:26:41,1,1,production,0:0,2019-03-07T18:39:59
2,7055502_1863,discovery,serina,12288Mn,0.09M,13:18:00:00,13:08:27:36,1,1,production,0:0,2019-03-11T10:06:06
3,7055502_1800,discovery,serina,12288Mn,8333.82M,13:18:00:00,12:03:50:59,1,1,production,0:0,2019-03-11T10:06:06
4,7055502_1806,discovery,serina,12288Mn,8304.03M,13:18:00:00,11:08:43:46,1,1,production,0:0,2019-03-11T10:06:06

In [17]:
#spill=initial_data.REQTIME[1]

In [18]:
#spill=spill.split(':')

In [19]:
#spill

In [20]:
#len(spill)

In [21]:
#int(D)*86400 + int(h)*3600 + int(m)*60 +int(s)
#time=int(spill[0])*86400+int(spill[1])*3600+int(spill[2])*60+int(spill[3])
#time

In [22]:
date_time=initial_data.REQTIME

In [23]:
%%time
#covert the REQTIME to total seconds
#initialize the to_secods df outside of the loop
to_seconds=[]
for time in date_time:
    split=time.split(':')
    if len(split)==4:
        seconds=int(split[0])*86400+int(split[1])*3600+int(split[2])*60+int(split[3])
        to_seconds.append(seconds)
    else:
        seconds=int(split[0])*3600+int(split[1])*60+int(split[2])
        to_seconds.append(seconds)

CPU times: user 6.15 s, sys: 67.2 ms, total: 6.22 s
Wall time: 6.22 s

In [24]:
#now set the results of the loop back in the REQTIME column
initial_data['REQTIME']=to_seconds

In [25]:
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,SUBMIT
0,6794220,laxtons,mikala,247808Mn,115217.12M,1209600,11:01:32:50,1,16,production,0:0,2019-03-09T16:38:44
1,6983193_1880,discovery,serina,12288Mn,6516.10M,1188000,12:09:26:41,1,1,production,0:0,2019-03-07T18:39:59
2,7055502_1863,discovery,serina,12288Mn,0.09M,1188000,13:08:27:36,1,1,production,0:0,2019-03-11T10:06:06
3,7055502_1800,discovery,serina,12288Mn,8333.82M,1188000,12:03:50:59,1,1,production,0:0,2019-03-11T10:06:06
4,7055502_1806,discovery,serina,12288Mn,8304.03M,1188000,11:08:43:46,1,1,production,0:0,2019-03-11T10:06:06

In [26]:
#used_time=initial_data.USEDTIME

In [27]:
#covert the USEDTIME to total seconds
#another way to do seconds conversion. do a function 
def convert_to_seconds(new):
    split_again=new.split(':')
    if len(split_again)==4:
        sec_2=int(split_again[0])*86400+int(split_again[1])*3600+int(split_again[2])*60+int(split_again[3])
        
    else:
        sec_2=int(split_again[0])*3600+int(split_again[1])*60+int(split_again[2])
        
    return sec_2

In [28]:
#my function worked
convert_to_seconds('11:01:32:50')

955970

In [29]:
%%time
#use the fuction created to covert the USEDTIME column to seconds
initial_data.USEDTIME=initial_data.USEDTIME.apply(convert_to_seconds)

CPU times: user 6.92 s, sys: 301 ms, total: 7.22 s
Wall time: 7.21 s

In [30]:
#initial_data.head()

In [31]:
reqmem=initial_data['REQMEM'].str.replace(r'(Mn|Mc)',r' \1')
#split=reqmem.str.split(' ')
initial_data.REQMEM=reqmem

In [32]:
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,SUBMIT
0,6794220,laxtons,mikala,247808 Mn,115217.12M,1209600,955970,1,16,production,0:0,2019-03-09T16:38:44
1,6983193_1880,discovery,serina,12288 Mn,6516.10M,1188000,1070801,1,1,production,0:0,2019-03-07T18:39:59
2,7055502_1863,discovery,serina,12288 Mn,0.09M,1188000,1153656,1,1,production,0:0,2019-03-11T10:06:06
3,7055502_1800,discovery,serina,12288 Mn,8333.82M,1188000,1050659,1,1,production,0:0,2019-03-11T10:06:06
4,7055502_1806,discovery,serina,12288 Mn,8304.03M,1188000,981826,1,1,production,0:0,2019-03-11T10:06:06

In [33]:
#convert Mn to Mc using a function 
def convert_to_mc(x,y,z):
    #cut_mn=x.replace(r'(Mn|Mc)',r' \1')
    num_unit=x.split(' ')
    #print(num_unit[0])
    number=int(num_unit[0])
    unit=num_unit[1]
    if unit=='Mn':
        mc_conversion=(number*y)/(z)
    else:
        mc_conversion=number
        
    return mc_conversion

In [34]:
%%time
initial_data['REQMEM']=initial_data.apply(lambda row: convert_to_mc(row['REQMEM'],row['NODES'],row['CPUS']),axis=1)

CPU times: user 1min 51s, sys: 1.36 s, total: 1min 53s
Wall time: 1min 53s

In [35]:
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,SUBMIT
0,6794220,laxtons,mikala,15488.0,115217.12M,1209600,955970,1,16,production,0:0,2019-03-09T16:38:44
1,6983193_1880,discovery,serina,12288.0,6516.10M,1188000,1070801,1,1,production,0:0,2019-03-07T18:39:59
2,7055502_1863,discovery,serina,12288.0,0.09M,1188000,1153656,1,1,production,0:0,2019-03-11T10:06:06
3,7055502_1800,discovery,serina,12288.0,8333.82M,1188000,1050659,1,1,production,0:0,2019-03-11T10:06:06
4,7055502_1806,discovery,serina,12288.0,8304.03M,1188000,981826,1,1,production,0:0,2019-03-11T10:06:06

In [36]:
usedmem=initial_data['USEDMEM'].str.replace(r'(M)',r' \1')
initial_data.USEDMEM=usedmem

In [37]:
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,SUBMIT
0,6794220,laxtons,mikala,15488.0,115217.12 M,1209600,955970,1,16,production,0:0,2019-03-09T16:38:44
1,6983193_1880,discovery,serina,12288.0,6516.10 M,1188000,1070801,1,1,production,0:0,2019-03-07T18:39:59
2,7055502_1863,discovery,serina,12288.0,0.09 M,1188000,1153656,1,1,production,0:0,2019-03-11T10:06:06
3,7055502_1800,discovery,serina,12288.0,8333.82 M,1188000,1050659,1,1,production,0:0,2019-03-11T10:06:06
4,7055502_1806,discovery,serina,12288.0,8304.03 M,1188000,981826,1,1,production,0:0,2019-03-11T10:06:06

In [66]:
#convert Mn to Mc using a function 
def m_to_mc(a,b,c):
    #cut_mn=x.replace(r'(Mn|Mc)',r' \1')
    if a !=0:
        m_mc=a.split(' ')
        number1=float(m_mc[0])
        unit1=m_mc[1]
        if unit1=='M':
            m_mc=(number1*b)/(c)
        else:
            m_mc=number1
    else:
        m_mc=number1
    return m_mc
    
    #number1=float(m_mc[0])
    #print(number1)
    #unit1=m_mc[1]
    #print(len(unit1))
    #if unit1=='M':
     #   m_mc=(number1*b)/(c)
    #else:
     #   m_mc=number1
        
    #return m_mc

In [67]:
%%time
initial_data['USEDMEM']=initial_data.apply(lambda row: m_to_mc(row['USEDMEM'],row['NODES'],row['CPUS']),axis=1)

IndexError: ('list index out of range', 'occurred at index 3645')

In [40]:
initial_data.loc[initial_data['CPUS']==0]

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,SUBMIT
1556155,9524253,kumquat,kate,16384.0,16383.34 M,86400,35114,24,0,production,0:0,2019-07-01T14:22:00

In [41]:
#mc_conversion=[]
#for mc in reqmem:
 #   num_unit=mc.split(' ')
  #  number=int(num_unit[0])
   # unit=num_unit[1]
    #if unit=='Mn':
     #   for nod in nodes:
      #      nod_nu=(number*nod)
       #     for cp in cpus:
        #        
         #       if cp!=0:
          #          
           #         mc_mn=(nod_nu/cp)
            #        mc_conversion.append(mc_mn)
             #   else:
              #      mc_mn=nod_nu
               #     mc_conversion.append(mc_mn)
   # else:
    #    mc_mn=number
     #   mc_conversion.append(mc_mn)

In [42]:
#convert Mn to Mc using a function 
#def convert_to_mc(mn):
  #  cut_mn=mn.replace(r'(Mn|Mc)',r'\1')
  #  num_unit=cut_mn.split(' ')
  #  number=num_unit[0]
  #  unit=num_unit[1]
   # if unit=='Mn':
   #     mc_conversion=(int(number)*initial_data.NODES)/(initial_data.CPUS)
  #  else:
     #   mc_conversion=number
        
   # return mc_conversion

In [43]:
#initial_data.REQMEM=initial_data.REQMEM.apply(convert_to_mc)

In [44]:
#initial_data.head()

In [45]:
#head=initial_data.head()

In [46]:
#head.info()

In [47]:
#pandas.Series.dt.total_seconds
#print (df['col'].dt.total_seconds())

In [48]:
#string4="Test String"
#string_revised=" ".join(string4)
#print string_revised

#req=" ".join(head.REQMEM)

In [49]:
#req

In [50]:
#d#ef get_sec():
   # """Get seconds from time"""
   #h,m,s=initial_data.REQTIME(':')
  # return int(D)*86400 + int(h)*3600 + int(m)*60 +int(s)

In [51]:
#import time
#import datetime as dt

In [52]:

#td=pd.Timedelta(initial_data['USEDTIME']) 
#td.seconds

In [53]:

#df['time_diff'] = df.time_diff.dt.total_seconds()
#df['Origin Time(Local)'] = pd.to_timedelta(df['Origin Time(Local)'])
#df['Seconds'] = df['Origin Time(Local)'].dt.total_seconds()

#initial_data['USEDTIME']=pd.to_timedelta(initial_data['USEDTIME'])
#initial_data['USEDTIME']=initial_data['USEDTIME'].dt.total_seconds()

In [54]:
#initial_data

In [55]:
#if test expression:
 #   Body of if
#elif test expression:
 #   Body of elif
#else: 
 #   Body of else

In [56]:
#splits numbers and letters with space
#head.REQMEM=head['REQMEM'].str.replace(r'(Mn|Mc)',r' \1')

In [57]:
#head

In [58]:
#req=head.REQMEM.loc[1].split(' ')

In [59]:
#type(req[0])

In [60]:
#(int(req[0])*head.NODES.loc[0])/(head.CPUS.loc[0])

In [61]:
#req[1]