In [1]:
#4 import the required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
%matplotlib inline

In [2]:
#6 read the GDP dataset into notebook save as variable: gdp_df

initial = 'data/fullsample.csv'
initial_data = pd.read_csv(initial)

In [3]:
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,6794220,laxtons,mikala,247808Mn,115217.12M,14-00:00:00,11-01:32:50,1,16,production,0:0
1,6983193_1880,discovery,serina,12288Mn,6516.10M,13-18:00:00,12-09:26:41,1,1,production,0:0
2,7055502_1863,discovery,serina,12288Mn,0.09M,13-18:00:00,13-08:27:36,1,1,production,0:0
3,7055502_1800,discovery,serina,12288Mn,8333.82M,13-18:00:00,12-03:50:59,1,1,production,0:0
4,7055502_1806,discovery,serina,12288Mn,8304.03M,13-18:00:00,11-08:43:46,1,1,production,0:0

In [4]:
initial_data.tail()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
4178914,12498123_14,clara,stacey,32768Mn,0,1-12:00:00,00:00:22,1,2,production,0:0
4178915,12498123_15,clara,stacey,32768Mn,0,1-12:00:00,00:00:30,1,2,production,0:0
4178916,12498123_16,clara,stacey,32768Mn,0,1-12:00:00,00:00:33,1,2,production,0:0
4178917,12498161,antares,hunt,4096Mn,364.25M,2-00:00:00,00:01:45,1,1,debug,0:0
4178918,12498182,antares,hunt,4096Mn,399.74M,2-00:00:00,00:03:10,1,1,debug,0:0

In [5]:
initial_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4178919 entries, 0 to 4178918
Data columns (total 11 columns):
JOBID        object
ACCOUNT      object
USER         object
REQMEM       object
USEDMEM      object
REQTIME      object
USEDTIME     object
NODES        int64
CPUS         int64
PARTITION    object
EXITCODE     object
dtypes: int64(2), object(9)
memory usage: 350.7+ MB

In [6]:
initial_data.columns

Index(['JOBID', 'ACCOUNT', 'USER', 'REQMEM', 'USEDMEM', 'REQTIME', 'USEDTIME',
       'NODES', 'CPUS', 'PARTITION', 'EXITCODE'],
      dtype='object')

In [7]:
initial_data=initial_data.drop_duplicates()

In [8]:
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,6794220,laxtons,mikala,247808Mn,115217.12M,14-00:00:00,11-01:32:50,1,16,production,0:0
1,6983193_1880,discovery,serina,12288Mn,6516.10M,13-18:00:00,12-09:26:41,1,1,production,0:0
2,7055502_1863,discovery,serina,12288Mn,0.09M,13-18:00:00,13-08:27:36,1,1,production,0:0
3,7055502_1800,discovery,serina,12288Mn,8333.82M,13-18:00:00,12-03:50:59,1,1,production,0:0
4,7055502_1806,discovery,serina,12288Mn,8304.03M,13-18:00:00,11-08:43:46,1,1,production,0:0

In [9]:
initial_data.shape

(3265799, 11)

In [10]:
initial_data=initial_data.loc[initial_data['PARTITION']=='production']

In [11]:
initial_data.shape

(3138764, 11)

In [12]:
def get_sec():
    """Get seconds from time"""
    d,h,m,s=initial_data.REQTIME(':')
    return int(d)*86400 + int(h)*3600 + int(m)*60 +int(s)

In [13]:
initial_data.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,6794220,laxtons,mikala,247808Mn,115217.12M,14-00:00:00,11-01:32:50,1,16,production,0:0
1,6983193_1880,discovery,serina,12288Mn,6516.10M,13-18:00:00,12-09:26:41,1,1,production,0:0
2,7055502_1863,discovery,serina,12288Mn,0.09M,13-18:00:00,13-08:27:36,1,1,production,0:0
3,7055502_1800,discovery,serina,12288Mn,8333.82M,13-18:00:00,12-03:50:59,1,1,production,0:0
4,7055502_1806,discovery,serina,12288Mn,8304.03M,13-18:00:00,11-08:43:46,1,1,production,0:0